<div class="sideBare">
    <div class="options">
        <a  class="home" href="#home">
            <svg class="icon">
                <use xlink:href="../assets/sprite.svg#icon-home1"></use>
            </svg>
         
        </a>
        <a  class="movies" href="#movieList">
            <svg class="icon">
                <use xlink:href="../assets/sprite.svg#icon-film1"></use>
            </svg>
         
        </a>
        <a  class="trend" href="#trendingMovies" >
            <svg class="icon">
                <use xlink:href="../assets/sprite.svg#icon-tinder"></use>
            </svg>
         
        </a>
        <a  class="watchedList" href="#watchedMovies" >
            <svg class="icon">
                <use xlink:href="../assets/sprite.svg#icon-time"></use>
            </svg>
         
        </a>
        
    </div>
</div>
